<div class="home">
		
	<ul class="post-list"> 
		{% for post in paginator.posts %}   
		<li>
			<h2>
	  		<a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
			</h2>
			<span class="post-meta">
			{% assign m = post.date | date: "%-m" %}
   	  {{ post.date | date: "%-d" }}
      {% case m %}
        {% when '1' %}Jan
        {% when '2' %}Feb
        {% when '3' %}Mar
        {% when '4' %}Apr
        {% when '5' %}Mei
        {% when '6' %}Jun
        {% when '7' %}Jul
        {% when '8' %}Agus
        {% when '9' %}Sep
        {% when '10' %}Okt
        {% when '11' %}Nov
        {% when '12' %}Des
      {% endcase %}
      {{ post.date | date: "%Y" }}
			 • 
      {% assign words = post.content | number_of_words %}
      {% if words < 360 %}
        Waktu baca kurang dari 1 menit
      {% else %}
        Waktu baca {{ words | divided_by:180 }} menit
      {% endif %}
      </span>
			<p>{{ post.excerpt }}</p>
		</li>
		{% endfor %}
	</ul>
  <p class="rss-subscribe">Subscribe <a href="/feed.xml">via RSS</a></p>
  {% include pagination.html %}

</div>