<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="alternate" type="application/rss+xml" title="Khoerodin" href="/feed.xml">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>  
  <script src="/assets/js/jquery.fitvids.js"></script>  
      <script>
        $(document).ready(function(){
          $(".post").fitVids();
        });
      </script>
  {% seo %}
</head>
<body>
  
  {% include header.html %}

  <div class="page-content">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>

  {% if page.url != "/about/" %}
  {% include footer.html %}
  {% endif %}
  
</body>
</html>