---
layout: default
disqus: true
readmore: true
---

<article class="post">
    <header>
        <h2 class="headline">
        {% assign m = page.date | date: "%-m" %}
        {{ page.date | date: "%-d" }}
        {% case m %}
          {% when '1' %}Januari
          {% when '2' %}Februari
          {% when '3' %}Maret
          {% when '4' %}April
          {% when '5' %}Mei
          {% when '6' %}Juni
          {% when '7' %}Juli
          {% when '8' %}Agustus
          {% when '9' %}September
          {% when '10' %}Oktober
          {% when '11' %}November
          {% when '12' %}Desember
        {% endcase %}
        {{ page.date | date: "%Y" }}
        </h2>
        
        <h1>{{ page.title }}</h1>

        <tag class="tag">
        {% for tag in page.tags %}
        <a href="/tag#{{ tag }}">#{{ tag }}</a>
        {% endfor %}
        </tag>
    </header>    

    <section id="post-body">
        {{content}}
    </section>
</article>
<footer id="post-meta" class="clearfix">
    <a href="/about">
        <img class="avatar" src="/assets/images/profile.png">
        <div>
            <span class="dark">Khoerodin</span>
            <span>Web developer</span>
        </div>
    </a>

    <section id="sharing">
        {% include share.html %}
    </section>
</footer>

{% include disqus.html %}